body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'Comic Sans MS', cursive;
  margin-bottom: 10px;
}

.container {
  text-align: center;
}

#player-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: auto;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: 1px solid black;
  background: white;
  border-radius: 8px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  margin-top: 20px;
}

.cell {
  background-color: #ffc0cb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  text-transform: lowercase;
  cursor: pointer;
}

.winner {
  background-color: purple !important;
  color: white !important;
}

.message {
  font-size: 18px;
  margin-bottom: 10px;
}
